<%- include('layouts/head-layout') %>

    <div class="chats-container">
        <div class="users-pane">
            <div class="search">
                <img src="images/loupe.png" alt="">
                <h2>Search</h2>
            </div>
            <div class="users">
                <div class="user-info">
                    <div class="pfp-container">
                        <img class="pfp" src="images/profilePic.jpeg" alt="">
                    </div>
                    <h2>Jai Singhal</h2>
                </div>
                <h2>Adwita Arora</h2>
                <h2>Pratyush Gupta</h2>
                <h2>Rinav Gupta</h2>
                <h2>Soham Kundu</h2>
            </div>
        </div>
        <div class="chats-pane">
            <div class="current-name">
                <h1>Jai Singhal</h1>
            </div>

            <div class="chats">

            </div>
            <div class="message-bar">
                <div class="input-bar">
                    <h2>Message...</h2>
                </div>
                <div class="send-icon-container">
                    <span class="material-icons material-icons-outlined">
                        send
                    </span>
                </div>
            </div>
        </div>
    </div>

    <%- include('layouts/foot-layout') %>