<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/homePage.css">
    <script src="https://kit.fontawesome.com/e7494bf63c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <title>Combinate</title>
</head>
<body>
    <section class="main">
        <div class="navbar">
            <div class="navbar_leftpane">
                <ul class="left_items">
                    <li>
                        <div class="logo">
                            <img src="images/logo.png" alt=""> 
                        </div>
                    </li>
                    <a href="/about">
                        <li class="navbar_links">About</li>
                    </a>
                    <a href="/team">
                        <li class="navbar_links">Team</li>
                    </a>
                </ul>
            </div>
            <div class="navbar_rightpane">
                <ul class="right_items">
                    <a class="right-items-link" href="/login">
                        <li class="signin_button">Sign In</li>
                    </a>
                    <a class="right-items-link" href="/register">
                        <li class="signup_button">Sign Up</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="main_content">
                <div class="main_text">
                    <div class="main_heading">
                        Combining Productivity with networking using
                    </div>
                    <h1 class="ml6">
                        <span class="text-wrapper">
                          <span class="letters">Combinate.</span>
                        </span>
                    </h1>
                    <div class="main_sub_heading">
                        Join hundreds of users and boost your productivity and social communication
                    </div>  
                    <!-- <div class="email_bar">
                        <input type="text" placeholder="Email Address" class="email_input">
                        <div class="signup_input">Sign Up</div>
                    </div> -->
                </div>
                <div class="main_gif">
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_1k7qtesc.json"  background="rgba(0, 0, 0, 0)"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
        </div>
    </section>
    <div class="features">
        <ul class="features_navbar">
            <li class="features_navbar__links">Personalised Dashboard</li>
            <li class="features_navbar__links">To-Do Lists</li>
            <li class="features_navbar__links">Collaborative Lists</li>
            <li class="features_navbar__links">Chats and Networking</li>
            <li class="features_navbar__links">Courses and Articles</li>
        </ul>
    </div>
    <section class="personalised_dashboard">
        <div class="personalised_dashboard__main_content">
            <div class="personalised_dashboard__main_text">
                <div class="personalised_dashboard__heading">
                    <h2 class="personalised_dashboard__h2">Your own, personalised dashboard</h2>
                </div>
                <div class="personalised_dashboard__sub_text">
                    <ul class="personalised_dashboard__sub_text_list">
                        <div class="border"></div>
                        <li>Get reminded of your daily tasks as well as your progress with it</li>
                        <li>Select from top competitive coding websites and get reminded of contests</li>
                    </ul>
                </div>
            </div>
            <div class="personalised_dashboard__gif">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_i2eyukor.json"  background="rgba(0, 0, 0, 0)"  speed="1"  style="width: 100%; height: 100%;" loop autoplay></lottie-player>
            </div>
        </div>
    </section>
    <section class="todo_lists">
        <div class="todo_lists__main_content">
            <div class="todo_lists__main_text">
                <div class="todo_lists__heading">
                    <h2 class="todo_lists__h2">Increase your productivity with To-Do lists</h2>
                </div>
                <div class="todo_lists__sub_text">
                    <ul class="todo_lists__sub_text_list">
                        <div class="todo_lists__border1"></div>
                        <div class="todo_lists__border2"></div>
                        <li>Add tasks</li>
                        <li>Work in teams</li>
                        <li>Set reminders</li>
                    </ul>
                </div>
            </div>
            <div class="todo_lists__gif">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_kvsp4zlb.json"  background="rgba(0, 0, 0, 0)"  speed="1"  style="width: 100%; height: 100%;"  loop autoplay></lottie-player>
            </div>
        </div>
    </section>
    <section class="collaborative_lists">
        <div class="collaborative_lists__main_content">
            <div class="collaborative_lists__main_text">
                <div class="collaborative_lists__heading">
                    <h2 class="collaborative_lists__h2">Collaborate.</h2>
                    <div class="subheadings">
                        <h3 class="subheading1">Whenever.</h3>
                        <h3 class="subheading1">Wherever.</h3>
                        <h3 class="subheading2">With Collaborative To-Do lists.</h3>
                    </div>
                </div>
            </div>
            <div class="collaborative_lists__gif">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ube3uv3b.json"  background="rgba(0, 0, 0, 0)"  speed="1"  style="width: 100%; height: 100%;"  loop autoplay></lottie-player>
            </div>
        </div>
    </section>
    <section class="chats_networking">
        <div class="chats_networking__main_content">
            <div class="chats_networking__main_text">
                <div class="chats_networking__heading">
                    <h2 class="chats_networking__h2">Connect with like-minded people.</h2>
                </div>
            </div>
            <div class="chats_networking__features">
                <div class="chats_networking__feature">
                    <h2 class="feature_text">Make your profile</h2>
                    <div class="chats_networking__gif">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_q5pk6p1k.json"  background="rgba(0, 0, 0, 0)"  speed="1"  loop autoplay></lottie-player>
                    </div>
                </div>
                <div class="chats_networking__feature">
                    <h2 class="feature_text"> Select your interests</h2>
                    <div class="chats_networking__gif">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_47dwpmff.json"  background="rgba(0, 0, 0, 0)"  speed="1" loop  autoplay></lottie-player>
                    </div>
                </div>
                <div class="chats_networking__feature">
                    <h2 class="feature_text">Chat!</h2>
                    <div class="chats_networking__gif">
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_QpolL2.json"  background="rgba(0, 0, 0, 0)"  speed="1"  loop autoplay></lottie-player>
                    </div>
                </div>
           </div>
        </div>
    </section>
    <section class="courses_articles">
        <div class="courses_articles__main_content">
            <div class="courses_articles__main_text">
                <div class="courses_articles__heading">
                    <h2 class="courses_articles__h2">Courses and articles</h2>
                    <h3 class="courses_articles__subheading">based on your selected interests</h3>
                </div>
            </div>
            <div class="courses_articles__features">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_vAtD7F.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_dequ7zix.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
           </div>
        </div>
        <div class="footer">
            <div class="links">
                <ul class="links_list">
                    <li>&copy 2021 Combinate</li>
                    <li>Terms</li>
                    <li>Privacy</li>
                </ul>
            </div>
            <div class="brand_links">
                <ul class="brand_links__list">
                    <li>
                        <i class="fab fa-facebook"></i>
                        <!-- <span class="fas fa-facebook"></span> -->
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in"></i>
                    </li>
                    <li>
                        <i class="fab fa-github"></i>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="/javascript/homePage.js"></script>
</body>
</html>