<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homePage.css">
    <title>Document</title>
</head>
<body>
    <section class="main">
        <div class="navbar">
            <div class="navbar_leftpane">
                <ul class="left_items">
                    <li>
                        <div class="logo">
                            <img src="logo.png" alt=""> 
                        </div>
                    </li>
                    <li>About</li>
                    <li>Team</li>
                </ul>
            </div>
            <div class="navbar_rightpane">
                <ul class="right_items">
                    <li>Sign In</li>
                    <li class="signup_button">Sign Up</li>
                </ul>
            </div>
        </div>
        <div class="main_content">
                <div class="main_text">
                    <div class="main_heading">
                        Combining Productivity with networking
                    </div>
                    <div class="main_sub_heading">
                        Join hundreds of users and boost your productivity and social communication
                    </div>  
                    <div class="email_bar">
                        <input type="text" placeholder="Email Address" class="email_input">
                        <div class="signup_input">Sign Up</div>
                    </div>
                </div>
                <div class="main_gif">
                    
                </div>
            </div>  
        </div>
    </section>
    <div class="features">
        <ul class="features_navbar">
            <li>Personalised Dashboard</li>
            <li>To-Do Lists</li>
            <li>Collaborative Lists</li>
            <li>Chats and Networking</li>
            <li>Courses and Articles</li>
        </ul>
    </div>
    <section class="personalised_dashboard">
        <div class="personalised_dashboard__main_content">
            <div class="personalised_dashboard__main_text">
                <div class="personalised_dashboard__heading">
                    <h2 class="personalised_dashboard__h2">Your own, personalised dashboard</h2>
                </div>
                <div class="personalised_dashboard__sub_text">
                    <ul class="personalised_dashboard__sub_text_list">
                        <div class="border"></div>
                        <li>Get reminded of your daily tasks as well as your progress with it</li>
                        <li>Select from top competitive coding websites and get reminded of contests</li>
                    </ul>
                </div>
            </div>
            <div class="personalised_dashboard__gif">

            </div>
        </div>
    </section>
    <section class="todo_lists">
        <div class="todo_lists__main_content">
            <div class="todo_lists__main_text">
                <div class="todo_lists__heading">
                    <h2 class="todo_lists__h2">Increase your productivity with To-Do lists</h2>
                </div>
                <div class="todo_lists__sub_text">
                    <ul class="todo_lists__sub_text_list">
                        <div class="todo_lists__border1"></div>
                        <div class="todo_lists__border2"></div>
                        <li>Add tasks</li>
                        <li>Work in teams</li>
                        <li>Set reminders</li>
                    </ul>
                </div>
            </div>
            <div class="todo_lists__gif">

            </div>
        </div>
    </section>
    <section class="collaborative_lists">
        <div class="collaborative_lists__main_content">
            <div class="collaborative_lists__main_text">
                <div class="collaborative_lists__heading">
                    <h2 class="collaborative_lists__h2">Collaborate.</h2>
                    <div class="subheadings">
                        <h3 class="subheading1">Whenever.</h3>
                        <h3 class="subheading1">Wherever.</h3>
                        <h3 class="subheading2">With Collaborative To-Do lists.</h3>
                    </div>
                </div>
            </div>
            <div class="collaborative_lists__gif">

            </div>
        </div>
    </section>
    <section class="chats_networking">
        <div class="chats_networking__main_content">
            <div class="chats_networking__main_text">
                <div class="chats_networking__heading">
                    <h2 class="chats_networking__h2">Connect with like-minded people.</h2>
                </div>
            </div>
            <div class="chats_networking__features">
                <div class="chats_networking__feature">
                    <h2 class="feature_text">Make your profile</h2>
                </div>
                <div class="chats_networking__feature">
                    <h2 class="feature_text"> Select your interests</h2>
                </div>
                <div class="chats_networking__feature">
                    <h2 class="feature_text">Chat!</h2>
                </div>
           </div>
        </div>
    </section>
    <section class="courses_articles">
        <div class="courses_articles__main_content">
            <div class="courses_articles__main_text">
                <div class="courses_articles__heading">
                    <h2 class="courses_articles__h2">Courses and articles</h2>
                    <h3 class="courses_articles__subheading">based on your selected interests</h3>
                </div>
            </div>
            <div class="courses_articles__features">
                
           </div>
        </div>
    </section>
</body>
</html>