<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/team.css">
    <script src="https://kit.fontawesome.com/e7494bf63c.js" crossorigin="anonymous"></script>
    <title>Combinate | Team</title>
</head>
<body>
    <div class="backdrop">
        <div class="backdrop_top">
            <div class="circle_top"></div>
        </div>
        <div class="backdrop_bottom">
            <div class="circle_bottom__left"></div>
            <div class="circle_bottom__right"></div>
        </div>
    </div>
    <section class="main">
        <div class="navbar">
            <div class="navbar_leftpane">
                <ul class="left_items">
                    <li>
                        <div class="logo">
                            <img src="images/logo.png" alt=""> 
                        </div>
                    </li>
                    <a href="/about">
                        <li class="navbar_links">About</li>
                    </a>
                    <a href="/team">
                        <li class="navbar_links team-box">Team</li>
                    </a>
                </ul>
            </div>
            <div class="navbar_rightpane">
                <ul class="right_items">
                    <a href="/login">
                        <li class="signin_button">Sign In</li>
                    </a>
                    <a href="/register">
                        <li class="signup_button">Sign Up</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="main_content">
            <div class="person-container">
                <div class="person-image-container jai">
                    <img src="images/jai.jpeg" alt="" class="person-img">
                </div>
                <div class="person-text name">
                    <h2 class="person-info">Jai Singhal</h2>
                </div>
                <div class="person-text info">
                    <h2 class="person-info">Full Stack Developer <br> First Semester CGPA: <span class="god-cgpa">9.6</span></h2>
                </div>
            </div>
            <div class="person-container person-heading">
                <div class="team-heading">
                    <h1>Meet our team</h1>
                </div>
                <div class="person-image-container adwita">
                    <img src="images/adwita.jpg" alt="" class="person-img">
                </div>
                <div class="person-text name">
                    <h2 class="person-info">Adwita Arora</h2>
                </div>
                <div class="person-text info">
                    <h2 class="person-info">Full Stack Developer <br> First Semester CGPA: <span class="god-cgpa">9.2</span></h2>
                </div>
            </div>
            <div class="person-container">
                <div class="person-image-container kartik">
                    <img src="images/kartik.JPG" alt="" class="person-img">
                </div>
                <div class="person-text name">
                    <h2 class="person-info">Kartik Bagri</h2>
                </div>
                <div class="person-text info">
                    <h2 class="person-info">Full Stack Developer <br> First Semester CGPA: <span class="god-cgpa">9.8</span></h2>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="links">
                <ul class="links_list">
                    <li>&copy 2021 Combinate</li>
                    <li>Terms</li>
                    <li>Privacy</li>
                </ul>
            </div>
            <div class="brand_links">
                <ul class="brand_links__list">
                    <li>
                        <i class="fab fa-facebook"></i>
                        <!-- <span class="fas fa-facebook"></span> -->
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in"></i>
                    </li>
                    <li>
                        <i class="fab fa-github"></i>
                    </li>
                </ul>
            </div>
        </div>
        </section>
        </body>
        </html>
        