<%- include('layouts/head-layout') %> 
    <div class="lists-heading">
        <h2>Lists</h2>
    </div>
    <div class="lists-section">
        <div class="lists-section__top-section">
            <div class="lists-section__top-section-links new-button">
                <span class=" material-icons material-icons-outlined">
                    add
                </span>
                <h3 class="links-heading">New List</h3>
            </div>
            <div class="lists-section__top-section-links">
                <h3 class="links-heading">Category</h3>
                <h3 class="links-heading">
                    <span class="material-icons material-icons-outlined">expand_more</span>
                </h3>
            </div>
        </div>
        <div class="list-container">
            <div class="list">
                <h3 class="lists-category">Home</h3>
                <div class="task-card plus"><span class=" material-icons material-icons-outlined">
                        add
                    </span></div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                </div>
            </div>
            <div class="list">
                <h3 class="lists-category">Work</h3>
                <div class="task-card plus"><span class=" material-icons material-icons-outlined">
                        add
                    </span></div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>
                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>

                <div class="task-card">
                    <h4 class="task-heading"><span class="bullet">•</span>Design</h4>
                    <p class="task-description">Designing the dashboard for Combinate project (individually).
                    </p>
                    <div class="members-list"></div>
                </div>

            </div>
            <div class="list">

            </div>
            <div class="list">

            </div>
        </div>
    </div>
<%- include('layouts/foot-layout') %> 