<%- include('layouts/head-layout') %> 
<%console.log(locals.user)%> 
<div class="profile-page-user-img-container">
    <img class="profile-page-user-img" src="<%=locals.user.profilePic%>" alt="">
</div>

<script src="/javascript/common.js"></script>
</div>
</div>
</body>

</html>