<%- include('layouts/head-layout') %>
    <div id="usersContainer" class="users-container">
        
    </div>
    
</div>
</div>
<script src="javascript/common.js"></script>
<script src="javascript/usersPage.js"></script>
</body>

</html>