<%- include('layouts/head-layout') %> 
    <div class="users-container">
        <div class="user-card">
            <div class="user-img-container">
                <img src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">

            </h3>
            <div class="interests-container">
                <div class="interest">

                </div>
            </div>
            <h3 class="following-info">

            </h3>
        </div>
    </div>
<%- include('layouts/foot-layout') %> 