<%- include('layouts/head-layout') %>
    <div id="usersContainer" class="users-container">
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Jai Singhal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
            <button class="following">
                Follow
            </button>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Adwita Arora
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Dancing, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Pratyush Gupta
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Coding, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 21st Feb, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Priya Agrawal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th September, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Soham Kundu
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Photography</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 8th Jan, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Mukul Gupta
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Depression</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 19th December, 2020
                </h3>
            </div>
        </div>
    </div>
    
</div>
</div>
<script src="javascript/common.js"></script>
<script src="javascript/usersPage.js"></script>
</body>

</html>