<%- include('layouts/head-layout') %>
    <div class="users-container">
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Jai Singhal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Jai Singhal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Jai Singhal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Jai Singhal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Jai Singhal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
        </div>
        <div class="user-card">
            <div class="user-img-container">
                <img class="dp" src="images/profilePic.jpeg" alt="user-img">
            </div>
            <h3 class="user-name">
                Jai Singhal
            </h3>
            <div class="user-card__info">
                <div class="interests-container">
                    <div class="interest">
                        <h3>Interests : Travelling, Music</h3>
                    </div>
                </div>
                <h3 class="following-info">
                    Following since : 7th Jan, 2021
                </h3>
            </div>
        </div>
    </div>
    <%- include('layouts/foot-layout') %>